 /* #ring section styling */
  
  .ring_images li a{
  display:flex;
  text-decoration:none;
  flex-direction:column;
  font-size: 12px;
  color:rgba(var(--color-foreground),.75);
  padding:12px;
  border-radius:6px;
  gap:5px;
  }
  .ring_images li a img{
  height: 30px!important;
  }
  ul.ring_images {
      list-style: none;
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content:flex-start;
      margin: 0 20px;
      padding: 20px 0;
      text-align: center;
      gap: 0;
    margin-left: 20px;
  }
  ul.ring_images li {
    padding-left: 10px;
    padding-bottom: 10px;
    width: 14.2%;
      padding:0px;
      text-align: center;
  }
  * {
  margin: 0px;
  padding: 0px;
  }
  
  .list-part {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill,minmax(316px,1fr));
  gap: 20px;
  margin: 0 30px 50px;
  }
  
  .list-item-part {
  border: 1px solid #dedede;
  width: 100%;
  text-align: center;
  }
  .image-section ul.list-part li.list-item-part {
    position: relative;
    border-radius:6px;
}
.image-section ul.list-part li.list-item-part .second-mid .m-1.title-dia * {
    font-size: 14px;
    font-family: 'Poppins';
    line-height:normal;
}

.image-section ul.list-part li.list-item-part .second-mid .m-1.ship span.ship-icon svg {
    fill: #6b7280;
}
.image-section ul.list-part li.list-item-part .cart-button {
    padding: 0;
    border-radius:6px;
}
.image-section ul.list-part li.list-item-part .cart-button .dropdown {
    width: 100%;
    border-radius:6px;
}
ul.ring_images li.link-faded.active-ring a {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.image-section ul.list-part li.list-item-part .cart-button .dropdown .dropbtn {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #000000;
    border-radius:6px;
}
.image-section ul.list-part li.list-item-part .cart-button .dropdown .dropbtn .drop-b-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.image-section ul.list-part li.list-item-part .cart-button .dropdown .dropbtn .drop-b-arrow svg {
    fill:#ffffff;
}
.image-section ul.list-part li.list-item-part .cart-button .dropdown .dropdown-content {
    width: 100%;
}

.image-section ul.list-part li.list-item-part .second-mid .m-1{
    margin-bottom:0;
}
  .image-section ul.list-part li.list-item-part span.list-item-tag-badeeg {
    position: absolute;
    top: 10px;
    left: 0;
    background-color: rgb(74 222 128 / 0.5);
    font-size: 7px;
    padding: 5px 4px;
    text-transform: uppercase;
    line-height: 10px;
    color: #374151;
}
  
  .list-item-part {
  border: 1px solid #dedede;
  width: 100%;
  text-align: center;
  /* max-width: 24%; */
  }
  
  .image-link img {
    width: 100%;
    max-width: 200px;
    height: 226px;
    object-fit: contain;
}
  
  .mid-part {
  padding: 10px;
  border-bottom: 1px solid #dedede;
  }
  
  .mid-part img {
  width: 14px;
  border-bottom: none;
  }
  
  .mid-part p {
  margin: 0px;
  font-size: 9px;
  }
  
  .mid-part a {
  text-decoration: none;
  }
  
  .second-mid {
  padding: 10px;
  border-bottom: 1px solid #dedede;
  }
  
  .m-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  }
  
  .m-1 h4 {
  font-size: 10.5px;
  color: #374151;
  }
  
  .m-1 p {
  font-size: 10.5px;
  color: #374151;
  }
  
  .m-1 span {
  font-size: 10.5px;
  color: #6b7280;
  }
  
  .price {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  }
  
  .price span {
  font-size: 12px;
  color: #6b7280;
  }
  
  .cart-button {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 10px 0px;
  }
  
  .cart-button a {
  text-decoration: none;
  width: 100%;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  }
  div#pagination {
      display: flex;
      column-gap: 25px;
      justify-content: center;
      margin-bottom: 50px;
  }
    div#pagination a {
      text-decoration: none;
  color: #000;
  }
  div#pagination .current {
      background-color: #000;
      color: #fff;
  }
  span.page-numbers a {
      padding: 10px 20px;
  }
    .mid-part svg path {
      fill: currentColor;
  }
      .mid-part .video_popup1 {
      padding-right: 10px;
  }
  
  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size:14px;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}


  div#LBdiamonds h1.ring_images-heading {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: normal;
    margin-top: 20px;
    max-width: 140rem;
    padding: 0 3rem;
}
.image-section ul.list-part{
  grid-template-columns:auto auto auto auto;
}

    
  @media screen and (min-width: 750px){
  .an_page-width {
      padding: 0 5rem;
  }}
  .an_page-width {
      max-width: 140rem;
      margin: 0 auto;
      padding: 0 1.5rem;
  }
   .list-item-part img {
      padding: 26px 0 0;
  } 
    button.certificate_popup {
      border: 0;
  }
    .disabled{
         display: none;
    }
  @media (max-width:768px) {
  .list-part {
  gap: 20px;
  margin: 10px;
  }
  }