.input_error{
	border:1px solid red !important;
}
.hidden{
	display: none !important;
}
#snackbar {
  visibility: hidden;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 60px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 60px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 60px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 60px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.Polaris-ActionMenu-SecondaryAction a.active-nav {
    background: #80808012 !important;
}
.reorder_table tbody tr:hover{
  cursor: move;
}